body{
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.season-image{
  height:350px;
  width: 400px;
  border: 1px solid red;
  padding: 5px;
  border-radius: 50%;
}
.btn{
  border: 1px solid red;
  padding: 10px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 10px;
  background-color: lightgray;
}
.btn:hover{
  transform: scale(1.05,1.05);
  cursor: pointer;
}